@model List<StudentCourses>
@{
    ViewData["title"] = "My Courses";
}
<table class="table table-bordered">
    <thead class="bg-primary text-white">
        <tr>
            <th>
                Course Name
            </th>
            <th>
                Course Instructor
            </th>
            <th>
                Course Degree
            </th>
            <th>
                Min Degree
            </th>
            <th>
                Your Degree
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sc in Model)
        {
            <tr>
                <td>@sc.Course.Name</td>
                <td>@sc.Course.Instructor.User.Name</td>
                <td>@sc.Course.Degree</td>
                <td>
                    @sc.Course.MinDegree
                </td>
                @if (sc.Course.MinDegree > sc.Degree)
                {
                    <td class="bg-danger text-white">@sc.Degree</td>
                }
                else if(sc.Course.MinDegree <= sc.Degree)
                {
                    <td class="bg-success text-white">@sc.Degree</td>
                }else{
                    <td>Pending</td>

                }
            </tr>

        }
    </tbody>
</table>